<div id="messageArea"></div>
<div class="text-background">

    <h1 class="mb-5">Welcome to Harmony Hub</h1>
    <h2>Where technology meets community service</h2>


    <button id="ServicesBtn" class="btn btn-primary"> Services</button>
</div>
<div id="slideshow">
    <img alt src="./content/images/stock-image1.jpg" class="active">
    <img alt src="./content/images/stock-image2.jpg">
    <img alt src="./content/images/stock-image3.jpg">
    <img alt src="./content/images/stock-image4.jpg">

</div>