 <div class="text-background">
    <h1 class="mb-5">Services</h1>
 </div>
  <button class="accordion">Tech Classes</button>
  <div class="panel">
    <img src="../../content/images/stock-image2.jpg" alt="Tech Classes">
    <p>At Harmony Hub we are pleased to offer a wide variety of tech classes from beginner to intermediate.</p>
  </div>

  <button class="accordion">Community Projects</button>
  <div class="panel">
    <img src="../../content/images/stock-image3.jpg" alt="Community Projects">
    <p>At Harmony Hub, one of our missions is to engage with our community with any tech related projects.
      Such as collaborating on web development for local businesses.</p>
  </div>

  <button class="accordion">Events</button>
  <div class="panel">
    <img src="../../content/images/stock-image4.jpg" alt="Events">
    <p>We encourage and invite other passionate members of the tech community to host events alongside Harmony Hub
      so that we may educate and advise the rest of the community.</p>
  </div>