<div class="text-background">
  <h1 class="mb-5">Team</h1>
  </div>
  <div class="team-grid">
    <div class="team-member" data-toggle="modal" data-target="#teamMemberModal1">
      <img src="../../content/images/sadaqat.jpg" alt="Sadaqat Chaudhry">
      <h3>Sadaqat Chaudhry</h3>
      <p>Hello! My name is Sadaqat Chaudhry. I am a 2nd year computer programming student and am set to graduate this year.
      I am very excited to join the workforce in programming and enhance my skills.</p>
    </div>
    <div class="team-member" data-toggle="modal" data-target="#teamMemberModal2">
      <img src="../../content/images/raisa.jpg" alt="Raisa Nasara">
      <h3>Raisa Nasara</h3>
      <p>Hello! I'm Raisa Nasara, and I'm on my last semester in completing my computer programming diploma this 2024.
      I have a passion for web development and looking forward to creating more projects! 😄</p>
    </div>
  </div>
  <div id="#teamMemberModal1" class="modal">
    <div class="modal-content">
      <span class="close">x</span>
      <h2>Sadaqat Chaudhry</h2>
      <p>More details about Sadaqat Chaudhry</p>
      You want to know more about me? Sure! I'd be happy to list some of my knowledge within programming. I am
      well-versed within the following:
      Object-oriented programming, Database management, Mainframe development,
      Web development, Systems Development, Cloud Technology
    </div>
  </div>
  <div id="#teamMemberModal2" class="modal">
    <div class="modal-content">
      <span class="close">x</span>
      <h2>Raisa Nasara</h2>
      <p>More details about Raisa Nasara</p>
      You want to know more about me? These are some of the programming languages and tools that I enjoy learning:
      C#, Java, JavaScript, Python, SQL, PHP, HTML, CSS
    </div>
  </div>