<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data="privarypolicy">Privacy Policy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data="termsofservice">Terms of Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data="team">Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data="contact">Contact</a>
        </li>
    </ul>
</nav>